{% extends 'base.html' %} 

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <h3>Data User
                    <a href="{% url 'tambah_user' %}">Tambah</a>
                </h3>
                {% for message in messages %}
                    {% if message %}
                        <div class="alert alert-success"> {{ message }} </div>
                    {% endif %}
                {% endfor %}
                <table class= 'table table-bordered table-striped'>
                    <thead>
                        <tr>
                            <th>Username</th> 
                            <th>password</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for name in users %}
                        <tr>
                                <td><a href="{% url 'ubah_data' name.id %}">{{ name.username }}</a></td>
                                <td>{{ name.password }}</td>
                                <td>
                                    <a href="{% url 'hapus_data' name.id %}" class="btn btn-danger">Hapus</a>
                                </td>
                                
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}